*.ejs
*.env
*.jks
*.r
*.template
*.toml
*.toml
*.xml
*ai
*bak
*eps
*gif
*json
*map
*md
*min.css
*min.js
*module.scss.d.ts
*pdf
*pegjs
*png
*properties
*sh
*svg
*txt
*yml
.DS_Store
.gitignore
.prettierignore
LICENSE
packages/**/dist/**
yarn.lock

public/**
*html