[main]
app.port=

[conn]
nats_username=
nats_password=
nats_url=
nats_key_pem=
nats_cert_pem=
nats_ca_pem=
nats_filter_subject=

[topics]
pub_validate_igo_sample_update=
pub_tempo_sample_billing=
pub_dbgap_sample_update=

[db]
neo4j_username=
neo4j_password=
neo4j_graphql_uri=

[smile]
smile_sample_endpoint=

[auth]
keycloak_client_id=
keycloak_client_secret=
keycloak_server_uri=
express_session_secret=

[log]
log_dir=

[web]
web_key_pem=
web_cert_pem=

[oncotree]
oncotree_api=

[databricks]
databricks_server_hostname=
databricks_http_path=
databricks_token=
