/*body {*/
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
/*    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
/*    monospace;*/
/*}*/

$standardMargin: 10px;

body {
}

.logo img {
  max-height: 40px !important;
}

.ReactVirtualized__Table__headerRow {
  text-transform: none !important;
}

.main {
  padding: 15px !important;
}

.modal-90w {
  max-width: none !important;
  width: 97%;
}

.centralSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.tableControlsRow {
  margin-bottom: $standardMargin;
}
